.container_user {
    background-color: var(--primary-color-body);
    padding: 0 16px;
}

.user_left {
    background-color: #fff;
    border-radius: 6px;
    margin-right: 20px;
    cursor: pointer;

    .left {
        padding: 16px;
    }
    .img_list {
        display: flex;
        gap: 18px;
        padding: 0 16px;
        align-items: center;
        position: relative;
        .img {
            border-radius: 4px;
            border: 1px solid #eee;
        }
        .button_right {
            height: 24px;
            width: 26px;
            border-radius: 50%;
            background-color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            left: 91%;
            cursor: pointer;

            &:hover {
                background-color: var(--primary-color);
            }
            .button {
                display: flex;
                align-items: center;
                padding: 4px;
            }
        }
    }
}

.img_bottom {
    object-fit: contain;
    padding: 14px 16px;
}

.img-robot {
    cursor: pointer;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 6%;
    padding-bottom: 3%;
}
.wrapper-type {
    display: flex;
    align-items: center;
    padding: 10px 0;
}
.type-home {
    color: rgb(128, 128, 137);
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    white-space: nowrap;
}

.type-title {
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    white-space: nowrap;
    color: rgb(56, 56, 61);
}

.scrollable-content {
    max-height: 630px; /* Điều chỉnh chiều cao tối đa của phần nội dung */
    overflow-y: auto; /* Cho phép lăn cuộn dọc khi cần */
}

/* Ẩn thanh cuộn */
.scrollable-content::-webkit-scrollbar {
    width: 0.5em; /* Độ rộng của thanh cuộn (có thể điều chỉnh) */
}

/* Đường kích thước thanh cuộn */
.scrollable-content::-webkit-scrollbar-track {
    background: transparent; /* Màu nền của thanh cuộn */
}

/* Đường thanh cuộn chưa được cuộn */
.scrollable-content::-webkit-scrollbar-thumb {
    background-color: transparent; /* Màu của thanh cuộn */
    border-radius: 1em; /* Độ cong của thanh cuộn (có thể điều chỉnh) */
}

.center {
    background-color: #fff;
    padding: 16px;
    margin-bottom: 12px;
    margin-right: 20px;
    border-radius: 6px;
    .wrapper_center {
        padding: 5px 10px;
    }

    .brand {
        padding-right: 4px;
        display: flex;
        margin: 0px;
        color: rgb(36, 36, 36);
        font-size: 13px;
        font-weight: 500;
        line-height: 22px;
    }

    .name {
        margin: 0px;
        color: rgb(39, 39, 42);
        font-size: 20px;
        font-weight: 500;
        line-height: 150%;
        word-break: break-word;
        white-space: break-spaces;
    }
    .star {
        display: flex;
        align-items: center;
        .vote {
            padding-right: 6px;
        }

        .sold {
            padding-left: 10px;
        }
    }
    .wrapper_price {
        display: flex;
        align-items: center;
        .price {
            font-size: 24px;
            font-weight: 600;
            line-height: 150%;
        }

        .discount {
            margin-left: 6px;
            font-weight: 400;
            font-size: 12px;
            line-height: 150%;
            padding: 0px 4px;
            background: rgb(245, 245, 250);
            border-radius: 8px;
            color: rgb(39, 39, 42);
        }
    }
    .color {
        padding-top: 10px;
        color: rgb(39, 39, 42);
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        margin: 0px;
        padding-right: 20px;
    }

    .choose_color {
        margin-top: 10px;
        display: flex;
        align-items: center;
        border: 1px solid #eee;
        width: 120px;
        height: 50px;
        border-radius: 6px;

        .choose {
            padding-left: 4px;
        }
    }
    .name_brand {
        display: flex;
        align-items: center;
    }
    .register {
        display: flex;
        padding-top: 2%;
        .follow {
            display: flex;
            padding: 3px 12px;
            -webkit-box-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            align-items: center;
            gap: 8px;
            border: 1px solid rgb(221, 221, 227);
            border-radius: 4px;
            cursor: pointer;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            color: rgb(39, 39, 42);
        }
    }
    .evaluate {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 3%;

        .vote {
            padding-right: 4px;
            border-right: 1px solid #dbd6d6;
            &::after {
                border: solid #eee 1px;
            }
        }
    }
    .wrapper_guarantee {
        display: flex;
        flex-direction: column;
        background: white;
        border-radius: 8px;
        padding: 12px;
        gap: 10px;
    }
    .wrapper_assured {
        display: flex;
        flex-direction: column;
        .assured {
            display: flex;
            padding: 1% 0;
            .title {
                padding-left: 8px;
            }
        }
    }
    .wrapper_description {
        display: flex;
        flex-direction: column;

        .description {
            display: grid;
            padding: 8px 0px;
            grid-template-columns: 55% 45%;
            gap: 4px;
        }
        .des2 {
            border-top: 1px solid #eee;
            border-bottom: 1px solid #eee;
        }
    }
}

.information {
    padding-bottom: 6px;
    font-weight: 600;
    font-size: 15px;
    line-height: 150%;
    color: rgb(39, 39, 42);
}

.choose_name {
    padding-left: 3%;
}

.choose_color {
    position: relative;
    &:hover {
        border: solid 2px blue;
    }
    &:hover::after {
        content: '';
        position: absolute;
        top: -2px;
        right: -2px;
        width: 13px;
        height: 13px;
        background-image: url('../../assets/img_Global/tick.png');
        background-size: cover;
    }
}

.wrapper_address {
    padding-top: 10px;
    padding-bottom: 8px;
    .information {
        padding-bottom: 6px;
        font-weight: 600;
        font-size: 16px;
        line-height: 150%;
        color: rgb(39, 39, 42);
    }
    .shipper {
        margin-right: 5px;
    }
    .address {
        text-decoration: underline;
    }

    .change {
        color: var(--primary-color);
        cursor: pointer;
    }
    .pay {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .pay1 {
            display: flex;
            align-items: center;
        }
    }
}

.container_right {
    background-color: #fff;
    border-radius: 6px;

    .wrapper_right {
        padding: 16px;
    }
    .right_User {
        display: flex;
        align-items: center;

        .title_right {
            padding-left: 10px;
            line-height: 16px;
            font-size: 16px;
        }
    }
    .quantity {
        padding-top: 10px;

        .wrapper_add {
            display: flex;
            padding-top: 10px;
        }
        .input {
            width: 10%;
            & .ant-input-number-handler-wrap {
                display: none;
            }
        }
        .add {
            margin-right: 5px;
            cursor: pointer;
            display: flex;
            border-radius: 4px;
            justify-content: center;
            height: 30px;
            width: 30px;
            border: 1px solid #a47d7d;
        }
    }
    .provisional {
        padding-top: 10px;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%;
        color: rgb(39, 39, 42);
    }

    .price {
        padding-top: 10px;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%;
    }

    .wrapper_button {
        display: block;
        padding-top: 10px;

        .button {
            text-align: center;
        }
    }
}

.img_right_footer {
    margin-top: 18px;
}

.container_row-footer {
    margin-bottom: 10px;
    margin-right: 26px;
    background-color: #fff;
    padding: 12px;
    border-radius: 6px;
    .star {
        display: flex;
        align-items: center;
        font-size: 20px;
        line-height: 20px;
        font-weight: 700;
        white-space: nowrap;
        margin: 0px 16px 0px 0px;
        gap: 4px;
        padding-top: 1%;
    }
    .star_icon {
        padding-left: 10px;
    }
    .wrapper_left {
        border-right: 1px solid #eee;
    }
    .wrapper_right {
        padding: 0 10px;

        .img-img {
            display: grid;
        }
    }
}

// modal component

.wrapper_address-modal {
    height: auto;
    .wrapper-title {
        border-bottom: 1px solid #eee;
        padding: 14px;
        p {
            margin: 0px;
            text-align: center;
            font-size: 20px;
            font-weight: 400;
        }
    }
    .location {
        padding: 6px;
        p {
            color: rgba(0, 0, 0, 0.54);
        }
    }
    .check_group {
        padding: 10px 0;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        p {
            padding: 10px 0;
        }
    }
    .button_address {
        text-align: center;
        padding: 10px 0;
        button {
            cursor: pointer;
            width: 296px;
            height: 40px;
            color: rgb(255, 255, 255);
            font-size: 13px;
            line-height: 38px;
            font-weight: 300;
            border: none;
            outline: none;
            border-radius: 4px;
            background-color: rgb(255, 66, 78);
        }
    }
}
