.img {
    width: 100%;
    padding: 50px 20px 70px;
    background: rgb(255, 255, 255);
    border-radius: 4px;
    text-align: center;
    font-size: 14px;

    p {
        margin: 20px 0px;
        color: rgba(0, 0, 0, 0.65);
    }

    a {
        width: 190px;
        border-radius: 4px;
        color: rgb(74, 74, 74);
        font-size: 14px;
        background-color: rgb(253, 216, 53);
        display: block;
        padding: 10px 30px;
        margin: auto;
    }
}
