.container_user {
    .wrapper_user {
        .title {
            font-weight: 600;
            font-size: 1.4rem;
            line-height: 1.4rem;
        }
    }

    .button {
        background-color: rgb(104, 157, 243);
        width: 10%;
        height: 100px;
        border-radius: 50%;
    }
    .wrapper-table {
        margin-top: 20px;
    }
}
