.container_my-comment {
    background-color: var(--primary-color-body);

    .wrapper_right {
        .element {
            margin: 20px 0px;
            width: 100%;
            padding: 50px 20px 70px;
            background: rgb(255, 255, 255);
            border-radius: 4px;
            text-align: center;
            font-size: 14px;

            p {
                margin: 20px 0px;
                color: rgba(0, 0, 0, 0.65);
            }
            a {
                width: 190px;
                border-radius: 4px;
                color: rgb(74, 74, 74);
                font-size: 14px;
                background-color: rgb(253, 216, 53);
                display: block;
                padding: 10px 30px;
                margin: auto;
            }
            .icon {
                color: rgb(255, 57, 69);
                padding: 0 3px;
            }
        }
    }
}

.wrapper-type {
    display: flex;
    align-items: center;
    padding: 10px 0 10px 35px;
    .type-home {
        color: rgb(128, 128, 137);
        font-size: 14px;
        line-height: 20px;
        font-weight: 300;
        white-space: nowrap;
    }

    .type-title {
        font-size: 14px;
        line-height: 20px;
        font-weight: 300;
        white-space: nowrap;
        color: rgb(56, 56, 61);
    }
}

.container_left {
    padding: 0 10px 0 28px;
    .wrapper_left {
    }

    .user {
        display: flex;
        padding: 2px 0;
        align-items: center;
        margin-bottom: 12px;
    }
    .left_list {
        padding: 7px 18px;

        a {
            color: rgb(2, 2, 7);
            display: flex;
            align-items: center;
            text-decoration: none;
        }
        &:hover {
            background-color: rgb(235, 235, 240);
        }
    }

    .wrapper_form {
        border-radius: 50%;
        -webkit-box-pack: center;
        justify-content: center;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        object-fit: cover;
    }
}

.col {
    .information {
        font-size: 18px;
        line-height: 32px;
        margin: 4px 0px 12px;
        color: rgb(19, 39, 56);
    }
}
