.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed; /* Đảm bảo loader nằm trên toàn bộ màn hình */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8); /* Làm mờ nền */
  z-index: 9999; /* Đảm bảo loader nằm trên tất cả các phần tử khác */
}

.spinner {
  width: 100px;
  height: 100px;
  position: relative;
  animation: rotation 1s linear infinite;
  border-radius: 50%;
}

.path {
  stroke-dasharray: 100;
  stroke-dashoffset: 20;
  stroke-linecap: round;
}

@keyframes rotation {
  to {
    transform: rotate(360deg);
  }
}

.content {
  opacity: 0.5; /* Làm mờ phần tử con */
  pointer-events: none; /* Vô hiệu hóa tương tác trong khi đang tải */
}
