/* Small devices (phones) */
@media (max-width: 600px) {
  .span_title {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    white-space: nowrap;
  }
  .display_none-xs {
    display: none !important;
  }
  .confirm_cart {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    color: #fff;
    background-color: rgba($color: #3160f8, $alpha: 1);
    position: relative;
    .icon_span {
      position: absolute;
      left: 0; /* Đẩy phần tử này sát bên trái */
      text-align: left;
      padding-left: 18px;
    }

    span {
      font-size: 1em;
      line-height: 1.2em;
    }
  }
  .wrapper_order {
    padding: 0 !important;
  }
  .span1 {
    width: 100% !important;
  }
  .wrapper_detail {
    display: flex;
    justify-content: space-between;
  }
  .col_24 {
    padding: 0 !important;
  }
  .sale {
    padding: 6px 0 !important;
  }
  .product {
    padding: 4px !important;
    height: 16rem !important;
    padding: 0 12px !important;
  }
}

/* Medium devices (tablets) */
@media (min-width: 601px) and (max-width: 900px) {
  .span_title {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    white-space: nowrap;
  }
  .display_none-sm {
    display: none !important;
  }
  .wrapper_order {
    padding: 4px 4px 8px !important;
  }
  .display_none-sm1 {
    display: none !important;
  }
  .col_24 {
    padding: 0 !important;
  }
}

/* Large devices (desktops) */
@media (min-width: 901px) and (max-width: 1200px) {
  .display_none-sm {
    display: none !important;
  }
}

/* Extra large devices (large desktops) */
@media (min-width: 1201px) {
  .display_none-sm {
    display: none !important;
  }
}
