.wrapper_delete {
    background-color: #1d8e15;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 3%;
    text-align: center;
}
