/* Small devices (phones) */
@media (max-width: 600px) {
  .container_header {
    .right_list-none {
      display: none !important;
    }
    .container_header .element_show {
      display: block !important;
    }
    .name_name {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 100%;
      width: 40px;
    }
  }
  .row_right {
    justify-content: flex-start !important;
  }
}

/* Medium devices (tablets) */
@media (min-width: 601px) and (max-width: 900px) {
  .container_header {
    .row_right {
      .right_list-none {
        display: none !important;
      }
    }
    .element_show {
      display: none !important;
    }
  }
}

/* Large devices (desktops) */
@media (min-width: 901px) and (max-width: 1200px) {
  .element_show {
    display: none !important;
  }
  .row_right {
    .right_list-none {
      display: none !important;
    }
  }
}

/* Extra large devices (large desktops) */
@media (min-width: 1201px) {
  .element_show {
    display: none !important;
  }
}
