@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

:root {
    --primary-color: rgb(10, 104, 255);
    --primary-color-body: rgb(245, 245, 250);
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
